.page{
    width:100vw;
    height: 100vh;
    background:linear-gradient(135deg,rgb(198, 198, 240),white);

    display: flex;
    justify-content: center;
    align-items: center;
}
.page-details{

min-height: 10rem;
background:linear-gradient(135deg,rgb(143, 144, 146),rgb(55, 54, 57));

border-radius: 15px;
box-shadow: 5px 5px 10px grey;

}
.input{
    display: flex;
    gap:0.3rem;
}
.input input{
    margin-top: 5px;
    border: none;
    height: 2rem;
    border-radius: 5px;
    margin-left: 5px;
    
}
.input button{
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;


}
.showdata{
    
    height: 88%;
    width: inherit;
    text-align: center;
    line-height: 2rem;
    color: white;
    font-family: cursive,sans-serif;
}
.data{
    margin-top: 1.5rem;
}
.data span{
    margin-left: 0.5rem;
}
.data h3{
    margin-top: 1rem;
   
}
.data img{
    background-color: rgb(138, 134, 134);
    border-radius:50% ;
}
@media (max-width: 268px){
.input{
    display:block;
    text-align: center;
}

}